Repository GoogleCloudPlatform/terraform-genai-knowledge-base, pull requests merged in 2024-03, with the labels that each got.

#67 feat: improve image building performance
  main.tf
Labels: feature

#69 chore: remove unused code
  .github/workflows/webhook-checks.yml
  webhook/main.py
  webhook/pyproject.toml
  webhook/requirements.txt
Labels: ignore-for-release

#71 feat: use document ai batch process
  webhook/main.py
  webhook/test_e2e.py
Labels: feature

#74 chore: webhook memory and update metadata
  README.md
  assets/architecture_diagram.png
  main.tf
  metadata.yaml
  webhook/main.py
Labels: ignore-for-release

#78 feat: add notebook for predictions
  README.md
  metadata.yaml
  notebooks/model-predictions.ipynb
  outputs.tf
  webhook/main.py
Labels: feature

#83 fix: set unique_names to true
  README.md
  metadata.yaml
  variables.tf
Labels: fix

#80 fix: Update architecture diagram
  assets/architecture_diagram.png
  assets/architecture_diagram.svg
  assets/diagram_updated.json
Labels: fix

#87 fix: back out unique names and use unique webhook_sa_name
  README.md
  main.tf
  metadata.yaml
  variables.tf
Labels: fix

#88 fix: Fix Blueprint integration test
  README.md
  examples/simple_example/main.tf
  main.tf
  metadata.display.yaml
  metadata.yaml
  test/setup/iam.tf
  test/setup/main.tf
  variables.tf
Labels: fix

#91 fix: Pin bigframes to < 1.0.0
  webhook/requirements.txt
Labels: fix

#92 fix: Pin bigframes to <1.0.0 in notebook
  notebooks/model-predictions.ipynb
Labels: fix

#93 chore: include firestore in pricing
  README.md
  metadata.yaml
Labels: ignore-for-release

#95 fix: Set labels of all labels-supporting resources
  README.md
  main.tf
  metadata.display.yaml
  metadata.yaml
  variables.tf
Labels: fix
