Repository GoogleCloudPlatform/terraform-genai-knowledge-base, pull requests merged in 2024-04, with the labels that each got.

#96 feat: add support for make it mine and deploy via cloudbuild trigger
  mim/cloudbuild_mim.yaml
  mim/deploy_solution.sh
  mim/deploy_via_trigger.sh
  mim/roles.txt
  mim/tutorial.md
Labels: feature

#102 chore: remove bigframes constraint
  notebooks/model-predictions.ipynb
  webhook/requirements.txt
Labels: ignore-for-release

#90 feat: add unique prefix to resource names
  README.md
  examples/simple_example/main.tf
  main.tf
  metadata.yaml
  variables.tf
Labels: feature, do not merge
